body{
background-color: #e41616;
margin: 0;
font-family:sans-serif;
font-family: ;
}
header{
    background-color: #444444;
    color: #444444;
    text-align: center;
    padding: 1px;

}

list{
    background-color: #444444;
    max-width: ;

}
