body{
    background-color: Black;
}
h2{
color: White;
}

.red {
    color:red;
}
.Orange {
    color:Orange;
}
.yellow {
    color:yellow;
}
.green {
    color:green;
}
.auqva {
    color:aqua;
}
.blue {
    color:blue;
}
.violet {
    color:violet;
}